    <header id="menu-header">
        <div id="logo-div">
            <h2 (click)="viewProducts()" style="color: white;">CPulse</h2>
        </div>
        <button class="hiddenButtons" (click)="toggleHiddenMenu()" style="color: black;">Menu</button>

        <div id="menu-buttons-div">
            <h4 *ngIf="username != null">Welcome {{username}}</h4>
            <button class="shown-header-buttons" id="menu-profile-btn" (click)="viewProfile()">Profile</button>
            <button class="shown-header-buttons" id="menu-products-btn"(click)="viewProducts()">Products</button>
            <button class="shown-header-buttons" id="menu-orders-btn" (click)="viewOrders()">Orders</button>
            <button class="shown-header-buttons" id="menu-wishlist-btn" (click)="viewWishlist()">Wishlist</button>    
            <button class="shown-header-buttons" id="menu-logout-btn" (click)="logout()">Logout</button>
        </div>
    </header>

    <nav id="hiddenMenu">
        <button class="close-btn" (click)="toggleHiddenMenu()">✖</button>
        <ul>
            <li>Welcome {{username}}</li>
            <li (click)="viewProfile()">Profile</li>
            <li (click)="viewProducts()">Products</li>
            <li (click)="viewOrders()">Orders</li>
            <li (click)="viewWishlist()">Wishlist</li>
            <li (click)="logout()">Logout</li>
        </ul>
    </nav>
    
   <div id="cart">
        <div id="cart-info">
            <h2>Total Price: {{totalPrice}}</h2>
            <button (click)="goToOrder()">Buy</button>
        </div>
        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Product Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of this.products">
                        <td>{{product.productName}}</td>
                        <td>{{product.productCategory}}</td>
                        <td>{{product.productPrice | currency: 'USD'}}</td>
                        <td>
                            <button class="remove-btn" (click)="deleteCartItem(product!.productName!)">
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
